.banner{
    background-image: url('../../public/assets/images/home-banner.png');
    background-size: cover;
    background-position: center;
    height: 80vh; /* Adjust the height as needed */
    width: 100%; /* Adjust the width as needed */
  }