.modal {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff !important;
    width: 35vw;
    padding: 1rem;
    max-height: 65vh;
    overflow: auto;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }

  .modal .custom-radio{
    display: flex;
    gap: 1rem;
  }
  .modal .row g-3{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .modal .btn-bordered,.btn-salesboost{
    font-size: 13px;
  font-weight: 500;
  padding: 8px;
  background-color: rgb(52, 120, 246);
  color: #fff;
  border-radius: 8px;
  margin-top: 25px;
  }
  .modal-footer{
    display: flex;
    gap: 1rem;
    justify-content: end;
  }
  .addexpression-wrapper{
    display: flex;
    gap: 1rem;
  }
  .addexpression-wrapper .col-md-4{
    flex: 1;
  }